<div class="row mt-3">
    <div class="col-12">
        {{#if heading}}
        <h3 class=" text-center">
            {{heading}}
        </h3>
        <hr class="mb-4 p-0">
        {{/if}}
    </div>
</div>