<div class="row p-2">
    {{> page-heading heading="Feature product"}}
    {{#each products}}
    <div class="col-4">
        <div class="pb-4">
            <div class="card p-1">
                <div class="card-body">
                    <h5 class="card-title">{{capitalize this.name}}</h5>
                    <p class="card-text">{{short this.description}}</p>
                    <a href="/product/{{this.id}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>